apiVersion: apps/v1
kind: Deployment
metadata:
  name: testapi-deployment
  labels:
    app: testapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: testapi
  template:
    metadata:
      labels:
        app: testapi
    spec:
      containers:
        - name: testapi
          image: bashirmali/testapi:latest
          ports:
            - containerPort: 8080
